<!-- Footer-Section -->
 
<div class="bg-dark text-white text-center p-4">
    <div class="container">
      
      <!-- Main Flex Container for All Columns -->
      <div class="d-flex justify-content-between text-start flex-wrap">
  
        <!-- Exclusive Section -->
        <div class="col-lg-2 d-flex flex-column">
          <h2 class="fw-bold">Exclusive</h2>
          <p>Subscribe and get 10% off your first order</p>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Enter your email" aria-label="Subscribe">
            <button class="btn btn-outline-light" type="submit">Subscribe</button>
          </form>
        </div>
  
        <!-- Support Section -->
        <div class="col-lg-2 d-flex flex-column">
          <h2>Support</h2>
          <p>111 Bijoy sarani, Dhaka,<br>DH 1515, Bangladesh</p>
          <p>+88015-86888-9899</p>
        </div>
  
        <!-- Account Section -->
        <div class="col-lg-2 d-flex flex-column">
          <h2>Account</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">My Account</a></li>
            <li><a href="#" class="text-white">Cart</a></li>
            <li><a href="#" class="text-white">Wishlist</a></li>
            <li><a href="#" class="text-white">Shop</a></li>
            <li class="d-flex">
              <a routerLink="login" class="text-white me-2">Login</a> / <a href="#" class="text-white ms-2">Register</a>
            </li>
          </ul>
        </div>
  
        <!-- Quick Links Section -->
        <div class="col-lg-2 d-flex flex-column">
          <h2>Quick Links</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Privacy Policy</a></li>
            <li><a href="#" class="text-white">Terms of Use</a></li>
            <li><a href="#" class="text-white">FAQ</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
          </ul>
        </div>
  
        <!-- Download App Section -->
        <div class="col-lg-4 d-flex flex-column">
          <h2 id="h2Download">Download App</h2>
          <p id="P_Download">Save $3 with App New User</p>
          <div class="d-flex justify-content-center">
            <img width="150" height="150" src="https://img.icons8.com/wired/64/FFFFFF/qr-code.png" alt="qr-code" />
            <div class="ms-3">
              <div class="border border-white rounded mb-2">
                <div class="d-flex align-items-center p-2">
                  <a href="https://play.google.com/store/games?hl=en">
                    <img width="50" height="50" src="https://img.icons8.com/fluency/50/google-play-store-new.png" alt="google-play-store-new" />
                  </a>
                  <div class="ms-2">
                    <p class="m-0">Get in app</p>
                    <h6>Google play</h6>
                  </div>
                </div>
              </div>
              <div class="border border-white rounded">
                <div class="d-flex align-items-center p-2">
                  <a href="https://www.apple.com/eg/app-store/">
                    <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/mac-os.png" alt="mac-os" />
                  </a>
                  <div class="ms-2">
                    <p class="m-0">Get in app</p>
                    <h6>App Store</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="social-icons mt-4 d-flex justify-content-evenly align-items-center">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f banner-icon"></i></a>
            <a href="https://x.com/?lang=en"><i class="fa-brands fa-twitter banner-icon"></i></a>
            <a href="https://www.instagram.com/"><i class="bi bi-instagram banner-icon"></i></a>
            <a href="https://www.linkedin.com/"><i class="bi bi-linkedin banner-icon"></i></a>
          </div>
        </div>
        
      </div> <!-- End Flex Container -->
  
    </div>
  </div>