<!-- Top-Banner -->
<div class="bg-dark text-white text-center p-2z">
    <div class="container d-flex justify-content-between align-items-center">
      <span>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! </span>
      <a href="#" class="text-white fw-bold">Shop Now</a>
      <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          English
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">English</a></li>
          <li><a class="dropdown-item" href="#">Spanish</a></li>
        </ul>
      </div>
    </div>
</div>
