<!-- <app-home></app-home> -->
<!-- <app-login></app-login> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-account></app-account> -->
<!-- <app-product-details></app-product-details> -->
<!-- <app-add-address></app-add-address> -->
<!-- <app-address></app-address> -->
<!-- <app-root></app-root> -->
<!-- <app-account></app-account> -->
<router-outlet></router-outlet>
<!-- 
<div class="row">
    <img src="JoyStick(6).png" alt="Gamepad Image 1" class="img-fluid mb-3" />
    <img src="JoyStick(3).png" alt="Gamepad Image 2" class="img-fluid mb-3" />
    <img src="JoyStick(4).png" alt="Gamepad Image 3" class="img-fluid mb-3" />
    <img src="JoyStick(5).png" alt="Gamepad Image 4" class="img-fluid" />
  </div>
 -->
