  <!-- Sidebar
  <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="position-sticky pt-3">
        <div class="profile-header text-center">
            <img [src]="profileImage" class="rounded-circle mb-2" alt="Profile Image" width="150px" height="150px">
            <h4>Mostafa Faried</h4>
          </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <span data-feather="home"></span>
                    My Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="lock"></span>
                    Change password
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="book"></span>
                    Addresses
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="clock"></span>
                    Activity History
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="tag"></span>
                    My Coupons
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="star"></span>
                    My Points
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="credit-card"></span>
                    My Wallet
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="users"></span>
                    Your Communities
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="refresh-cw"></span>
                    Refund requests
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="message-circle"></span>
                    My complaints
                </a>
            </li>
        </ul>
        <div class="logout">
            <a href="#" class="nav-link text-danger">
                <span data-feather="log-out"></span>
                Logout
            </a>
        </div>
    </div>
</nav> -->